h1.test{
  background-color: #f5f5f5;
  color: blue;


}

.technologies-container {
  background-color: red;
  padding: 20px;
  height: max-content;
  /* width: max-content; */
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}